<div>
  <div class="cnt-princ">
    <div class="cnt-sec">
      <div>
        <img src="../content/images/blue_logo.png" class="img-logo-blue" />
      </div>
      <h1 class="title">{{ title }}</h1>
    </div>
    <div class="login-wrapper">
      <div class="wrapper-sec" style="max-width: 60%">
        <div *ngIf="step == 1" style="width: 100%; display: flex; flex-direction: row">
          <div style="width: 50%">
            <img
              src="../content/images/faunaphotostudio_26866480_163831200914202_7130561879423844352_n.jpg"
              class="img-objective"
              (click)="selectObjective(2)"
            />
            <div style="display: flex; flex-direction: column">
              <div class="objective-title">Amistad</div>
              <div class="objective-text">
                ¿Querés encontrarle nuevos amigos a tu peludito? Hacé click acá para comenzar a descubrir nuevas amistades.
              </div>
            </div>
          </div>
          <div style="width: 50%">
            <img
              src="../content/images/faunaphotostudio_26866480_163831200914202_7130561879423844352_n.jpg"
              class="img-objective"
              (click)="selectObjective(1)"
            />
            <div style="display: flex; flex-direction: column">
              <div class="objective-title">Cruzar</div>
              <div class="objective-text">
                ¡La media naranja de tu pelidito te está esperando! Hace click para conocer a otros dueños/as tan amorosos como vos.
              </div>
            </div>
          </div>
        </div>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" *ngIf="step == 2">
          <div class="cnt-row1">
            <!-- <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>-->

            <div class="cnt-inputs">
              <label class="lbl-txt" for="field_filterType">Tipo de mascota</label>
              <select
                class="form-control"
                name="filterType"
                formControlName="filterType"
                id="field_filterType"
                data-cy="filterType"
                (change)="updateFilteredBreeds($event.target)"
              >
                <option [ngValue]="null">{{ 'furryMatchApp.PetType.null' | translate }}</option>
                <option *ngFor="let filterType of petTypeValues" [value]="filterType">
                  {{ 'furryMatchApp.PetType.' + filterType | translate }}
                </option>
              </select>
              <div
                *ngIf="editForm.get('filterType')!.invalid && (editForm.get('filterType')!.dirty || editForm.get('filterType')!.touched)"
              >
                <small class="form-text text-danger" *ngIf="editForm.get('filterType')?.errors?.required"> Este campo es requerido. </small>
              </div>
            </div>

            <div class="cnt-inputs">
              <label class="form-label">Raza</label>
              <select class="form-control" id="field_breed" formControlName="breed">
                <option [ngValue]="null"></option>
                <option *ngFor="let breed of filteredBreedsSharedCollection" [ngValue]="breed.id">{{ breed.breed }}</option>
              </select>
            </div>

            <div class="cnt-inputs">
              <label class="form-label" for="field_sex">Elegí el sexo</label>
              <select class="form-control" name="sex" formControlName="sex" id="field_sex" data-cy="sex">
                <option [ngValue]="null">{{ 'furryMatchApp.Sex.null' | translate }}</option>
                <option *ngFor="let sex of sexValues" [value]="sex">{{ 'furryMatchApp.Sex.' + sex | translate }}</option>
              </select>
            </div>
          </div>
          <div class="cnt-row2">
            <div class="cnt-inputs">
              <label class="lbl-txt">Elegí una provincia</label>
              <select
                class="form-control"
                id="provice"
                name="provice"
                formControlName="provice"
                data-cy="provice"
                (change)="updateProvince($event)"
              >
                <option value="">Provincia</option>
                <option *ngFor="let provice of provinces" [value]="provice.id">{{ provice.name }}</option>
              </select>
            </div>

            <div class="cnt-inputs">
              <label class="lbl-txt">Elegí un cantón</label>
              <select
                select
                class="form-control"
                id="canton"
                name="canton"
                formControlName="canton"
                data-cy="canton"
                (change)="updateCanton($event)"
              >
                <option value="">Cantón</option>
                <option *ngFor="let canton of cantones" [value]="canton.id">{{ canton.name }}</option>
              </select>
            </div>

            <div class="cnt-inputs">
              <label class="lbl-txt">Elegí un distrito</label>
              <select class="form-control" id="district" name="district" formControlName="district" data-cy="district">
                <option value="">Distrito</option>
                <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
              </select>
            </div>
          </div>

          <div class="cnt-row3" *ngIf="objective == 1">
            <div class="cbox-wrapper" style="padding-left: 0px">
              <input
                type="checkbox"
                class="form-check"
                name="tradePups"
                id="field_tradePups"
                data-cy="tradePups"
                formControlName="tradePups"
              />
              <label class="cbox-label" for="field_tradePups">Negociar repartición de crias</label>
            </div>

            <div class="cbox-wrapper" style="padding-left: 0px">
              <input
                type="checkbox"
                class="form-check"
                name="tradeMoney"
                id="field_tradeMoney"
                data-cy="tradeMoney"
                formControlName="tradeMoney"
              />
              <label class="cbox-label" for="field_tradeMoney">Negociar dinero por cruce </label>
            </div>

            <div class="cbox-wrapper" style="padding-left: 0px">
              <input type="checkbox" class="form-check" name="pedigree" id="field_pedigree" data-cy="pedigree" formControlName="pedigree" />
              <label class="cbox-label" for="field_pedigree">Pedigrí</label>
            </div>
          </div>

          <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.searchCriteria.objective" for="field_objective">Objective</label>
          <input type="text" class="form-control" name="objective" id="field_objective" data-cy="objective" formControlName="objective" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.searchCriteria.pet" for="field_pet">Pet</label>
          <select class="form-control" id="field_pet" data-cy="pet" name="pet" formControlName="pet" [compareWith]="comparePet">
            <option [ngValue]="null"></option>
            <option [ngValue]="petOption" *ngFor="let petOption of petsSharedCollection">{{ petOption.id }}</option>
          </select>
        </div>-->

          <div>
            <button
              type="submit"
              class="btn btn-blue"
              id="save-entity"
              [disabled]="editForm.invalid || isSaving"
              data-cy="entityCreateSaveButton"
            >
              Confirmar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
