<div class="cnt-princ">
  <h1 class="title">Mi perfil</h1>
  <div>
    <div class="profile-pic">
      <div class="profile-pic-div">
        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>Arrastrá o seleccioná<br />una foto</ngx-dropzone-label>
          <ngx-dropzone-image-preview
            class="dropzoneImg"
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          >
            <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
      <button (click)="onUpload()" class="btn btn-blue">Subir</button>
    </div>
    <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm">
      <div class="login-wrapper">
        <div class="wrapper-sec">
          <div class="cnt-inputs">
            <div class="cnt-pass">
              <div class="cnt-txt">
                <label class="lbl-txt">Nombre de usuario</label>
                <input type="text" class="form-control inp-txt" id="login" name="login" formControlName="login" data-cy="username" #login />
                <div *ngIf="settingsForm.get('login')!.invalid && (settingsForm.get('login')!.dirty || settingsForm.get('login')!.touched)">
                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('login')?.errors?.required">
                    Tu nombre de usuario es requerido
                  </small>

                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('login')?.errors?.minlength">
                    Tu nombre de usuario requiere al menos 1 caracter
                  </small>

                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('login')?.errors?.maxlength">
                    Tu nombre de usuario no puede tener más de 50 caracteres
                  </small>

                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('login')?.errors?.pattern">
                    Tu nombre de usuario es inválido
                  </small>
                </div>
              </div>

              <div class="cnt-txt">
                <label>Correo electrónico</label>
                <input
                  type="email"
                  class="form-control inp-txt"
                  [attr.disabled]="true"
                  id="email"
                  name="email"
                  formControlName="email"
                  data-cy="email"
                />
                <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('email')?.errors?.required">
                    Tu correo electrónico es requerido
                  </small>

                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('email')?.errors?.invalid">
                    Tu correo electrónico es inválido
                  </small>

                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('email')?.errors?.minlength">
                    Tu correo electrónico debe tener más de 5 caracteres
                  </small>

                  <small class="form-text text-danger alert-txt" *ngIf="settingsForm.get('email')?.errors?.maxlength">
                    Tu correo electrónico no puede tener más de 50 caracteres
                  </small>
                </div>
              </div>
              <a routerLink="/account/password" class="text-link" style="margin-top: -8px">
                <button class="btn btn-blue">Cambiar contraseña</button>
              </a>
            </div>
            <!--            <jhi-password-strength-bar-->
            <!--              [passwordToCheck]="settingsForm.get('password')!.value">-->
            <!--            </jhi-password-strength-bar>-->
            <div class="grey-block">
              <div class="cnt-row1">
                <div class="cnt-inputs">
                  <label class="lbl-txt">Nombre</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    id="firstName"
                    name="firstName"
                    formControlName="firstName"
                    data-cy="firstName"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Segundo nombre</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="secondName"
                    id="field_secondName"
                    data-cy="secondName"
                    formControlName="secondName"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Primer apellido</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="firstLastName"
                    id="field_firstLastName"
                    data-cy="firstLastName"
                    formControlName="firstLastName"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Segundo apellido</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="secondLastName"
                    id="field_secondLastName"
                    data-cy="secondLastName"
                    formControlName="secondLastName"
                  />
                </div>
              </div>
              <div class="cnt-row2">
                <div class="cnt-inputs">
                  <label class="lbl-txt">Número de identificación</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="identityNumber"
                    id="field_identityNumber"
                    data-cy="identityNumber"
                    formControlName="identityNumber"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Número de teléfono</label>
                  <input
                    type="number"
                    class="form-control inp-txt"
                    name="phoneNumber"
                    id="field_phoneNumber"
                    data-cy="phoneNumber"
                    formControlName="phoneNumber"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Dirección</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="address"
                    id="field_address"
                    data-cy="address"
                    formControlName="address"
                  />
                </div>
              </div>
              <div class="cnt-row3">
                <div class="cnt-inputs">
                  <label class="lbl-txt">Elegí una provincia</label>
                  <select
                    class="form-control"
                    id="province"
                    name="province"
                    formControlName="province"
                    (change)="updateProvince($event)"
                    data-cy="province"
                  >
                    <option value="">Provincia</option>
                    <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
                  </select>
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Elegí un cantón</label>
                  <select
                    select
                    class="form-control"
                    id="canton"
                    name="canton"
                    formControlName="canton"
                    (change)="updateCanton($event)"
                    data-cy="canton"
                  >
                    <option value="">Cantón</option>
                    <option *ngFor="let canton of cantones" [value]="canton.id">{{ canton.name }}</option>
                  </select>
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Elegí un distrito</label>
                  <select class="form-control" id="district" name="district" formControlName="district" data-cy="district">
                    <option value="">Distrito</option>
                    <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div>
              <div>
                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-blue" data-cy="submit">Guardar Cambios</button>
                <div class="delete-text">
                  <span (click)="delete()">Eliminar cuenta</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
