<div class="cnt-parent">
  <div class="cnt-princ">
    <img src="../content/images/LogoFullBlue.png" class="img-logo-index" />
    <h2 class="title">Encontrá la pareja ideal... ¡de tu mascota!</h2>
  </div>

  <div class="cnt-imgs">
    <img src="../content/images/faunaphotostudio_26356986_1013421378812750_4710878227998965760_n.jpg" class="img-small-index" />
    <img src="../content/images/faunaphotostudio_35382324_1795971013822477_1346609488680976384_n.jpg" class="img-med-index" />
    <img src="../content/images/faunaphotostudio_275062365_692012078603446_7073276358471929719_n.jpg" class="img-big-index" />
    <img src="../content/images/faunaphotostudio_26866480_163831200914202_7130561879423844352_n.jpg" class="img-med-index" />
    <img src="../content/images/faunaphotostudio_273049160_426425915894164_2497787094957154033_n.jpg" class="img-small-index" />
  </div>

  <div class="cnt-sec">
    <div class="cnt-sec">
      <p class="text">
        Furry Match es la aplicación donde encontrarás a miles de personas amantes de los animales buscando parejas para sus perrijos o
        gatijos de forma segura y rápida.
      </p>
    </div>

    <div class="cnt-btn">
      <button routerLink="/registro-usuario" class="btn-blue btn" type="submit">Crear una cuenta</button>
    </div>
    <div #lastComponent class="cnt-ingresa">
      <p class="text-cuenta">¿Ya tenés una cuenta?</p>
      <a routerLink="/login" class="text-link">Ingresá aquí</a>
    </div>
    <div #lastComponent class="cnt-ingresa">
      <p class="text-cuenta">¿Olvidaste tu contraseña?</p>
      <a routerLink="/login" class="text-link">Hacé click aquí</a>
    </div>
  </div>
</div>
