<div class="cnt-princ">
  <div class="cnt-sec">
    <div>
      <img src="../content/images/blue_logo.png" class="img-logo-blue" />
    </div>
    <h1 class="title">Cambio de contraseña</h1>
  </div>
</div>

<div class="card-body" *ngIf="initialized && !key">Por favor ingrese desde el link enviado a su correo</div>

<div class="card-body" *ngIf="error">
  <span>No se ha podido reestablecer la contraseña. La solicitud es válida solo por 24 horas, por favor inténtelo de nuevo.</span>
</div>

<div class="card-body" *ngIf="success">
  <span><strong>Se ha cambiado la contraseña</strong> Por favor </span>
  <a class="alert-link" routerLink="/login">ingresa a tu cuenta</a>.
</div>

<div class="card-body text-error" *ngIf="doNotMatch">Su contraseña y la confirmación no son iguales</div>
<div class="login-wrapper">
  <div>
    <div class="card-body" *ngIf="key && !success">
      <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
        <div class="cnt-inputs">
          <label class="lbl-txt" for="newPassword">Nueva contraseña</label>
          <input
            type="password"
            class="form-control inp-txt"
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
            data-cy="resetPassword"
            #newPassword
          />
          <div
            class="widthWarning"
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="text alert-txt" *ngIf="passwordForm.get('newPassword')?.errors?.required"> Ingrese la contraseña </small>

            <small class="text text-error alert-txt" *ngIf="passwordForm.get('newPassword')?.errors?.pattern">
              Debe de ser de al menos 8 caracteres y tener 1 mayúscula, 1 minúscula, 1 número y 1 caracter especial
            </small>
          </div>
          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="cnt-inputs">
          <label class="lbl-txt" for="confirmPassword">Confirmar contraseña</label>
          <input
            type="password"
            class="form-control inp-txt"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            data-cy="confirmResetPassword"
          />

          <div
            class="widthWarning"
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="text alert-txt" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Por favor confirme la contraseña
            </small>

            <small class="text text-error alert-txt" *ngIf="passwordForm.get('confirmPassword')?.errors?.pattern">
              Debe de ser de al menos 8 caracteres y tener 1 mayúscula, 1 minúscula, 1 número y 1 caracter especial
            </small>
          </div>
        </div>
        <button type="submit" [disabled]="passwordForm.invalid" class="btn-blue btn" data-cy="submit">Validar la contraseña</button>
      </form>
    </div>
  </div>
</div>
