<div class="cnt-princ">
  <div class="cnt-sec">
    <div>
      <img src="../content/images/blue_logo.png" class="img-logo-blue" />
    </div>
    <h1>Cambio de contraseña</h1>
  </div>
</div>

<div class="card-body" *ngIf="initialized && !key">Ooops! Por favor ingrese desde el link enviado a su correo</div>

<div class="card-body" *ngIf="error">
  <span>No se ha podido reestablecer la contraseña. La solicitud es válida solo por 24 horas, por favor inténtelo de nuevo.</span>
</div>

<div class="card-body" *ngIf="success">
  <span><strong>Se ha cambiado la contraseña</strong> Por favor </span>
  <a class="alert-link" routerLink="/login">ingresa a tu cuenta</a>.
</div>

<div class="card-body" *ngIf="doNotMatch">Su contraseña y la confirmación no son iguales</div>

<div class="card-body" *ngIf="key && !success">
  <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
    <div class="mb-3">
      <label class="form-label" for="newPassword"></label>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        name="newPassword"
        placeholder="Contraseña"
        formControlName="newPassword"
        data-cy="resetPassword"
        #newPassword
      />

      <div
        *ngIf="
          passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
        "
      >
        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required"> Ingrese la contraseña </small>

        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
          La contraseña debe tener al menos 4 caracteres
        </small>

        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
          La contraseña no puede tener mas de 50 caracteres
        </small>
      </div>

      <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
    </div>

    <div class="mb-3">
      <label class="form-label" for="confirmPassword"></label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        placeholder=" Confirmar contraseña "
        formControlName="confirmPassword"
        data-cy="confirmResetPassword"
      />

      <div
        *ngIf="
          passwordForm.get('confirmPassword')!.invalid &&
          (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
        "
      >
        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
          Por favor confirme la contraseña
        </small>

        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
          La confirmación de su contraseña debe tener al menos 4 caracteres
        </small>

        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
          Su contraseña no puede tener mas de 50 caracteres
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="passwordForm.invalid" class="btn-blue btn" data-cy="submit">Validar la contraseña</button>
  </form>
</div>
