<div>
  <div class="cnt-princ" *ngIf="account$ | async as account">
    <div class="cnt-sec">
      <div>
        <img src="../content/images/blue_logo.png" class="img-logo-blue" />
      </div>
      <h1 class="title" style="margin-top: 55px">Cambiar contraseña</h1>
    </div>
    <div class="login-wrapper">
      <div>
        <div class="card-body">
          <form class="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
            <div class="cnt-inputs">
              <label class="lbl-txt">Contraseña actual</label>
              <input
                type="password"
                class="form-control inp-txt"
                id="currentPassword"
                name="currentPassword"
                formControlName="currentPassword"
                data-cy="currentPassword"
              />

              <div
                class="widthWarning"
                *ngIf="
                  passwordForm.get('currentPassword')!.invalid &&
                  (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger alert-txt"
                  *ngIf="passwordForm.get('currentPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required"
                >
                  Tu contraseña es requerida.
                </small>
              </div>
            </div>

            <div class="cnt-inputs">
              <label class="lbl-txt">Contraseña nueva</label>
              <input
                type="password"
                class="form-control inp-txt"
                id="newPassword"
                name="newPassword"
                formControlName="newPassword"
                data-cy="newPassword"
              />

              <div
                class="widthWarning"
                *ngIf="
                  passwordForm.get('newPassword')!.invalid &&
                  (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger alert-txt"
                  *ngIf="passwordForm.get('newPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required"
                >
                  Tu contraseña es requerida
                </small>

                <small class="form-text text-danger alert-txt" *ngIf="passwordForm.get('newPassword')?.errors?.pattern">
                  Debe de ser de al menos 8 caracteres y tener 1 mayúscula, 1 minúscula, 1 número y 1 caracter especial
                </small>
              </div>
            </div>

            <div class="cnt-inputs">
              <label class="lbl-txt">Confirmar contraseña</label>
              <input
                type="password"
                class="form-control inp-txt"
                id="confirmPassword"
                name="confirmPassword"
                formControlName="confirmPassword"
                data-cy="confirmPassword"
              />

              <div
                class="widthWarning"
                *ngIf="
                  passwordForm.get('confirmPassword')!.invalid &&
                  (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger alert-txt"
                  *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required"
                >
                  Es necesario confirmar la nueva contraseña
                </small>

                <small class="form-text text-danger alert-txt" *ngIf="passwordForm.get('confirmPassword')?.errors?.pattern">
                  Debe de ser de al menos 8 caracteres y tener 1 mayúscula, 1 minúscula, 1 número y 1 caracter especial
                </small>
              </div>
            </div>
            <button type="submit" class="btn btn-blue" [disabled]="passwordForm.invalid" data-cy="submit">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
