<img class="objective-type" src="../content/images/Group 27.png" />
<div class="objective-txt">
  <div>Estoy buscando:</div>
  <div *ngIf="filters?.objective === '1'">Amigos para mi mascota</div>
  <div *ngIf="filters?.objective === '2'">Otras mascotas para cruzarlas</div>
</div>
<div class="cnt-princ">
  <div>
    <div>
      <div class="login-wrapper">
        <div *ngIf="pets.length > 0 && currentPetIndex >= 0 && currentPetIndex < pets.length">
          <div *ngFor="let photo of pets[currentPetIndex].photos; first as isFirst">
            <div *ngIf="isFirst">
              <img [src]="photo.photoUrl" class="img-objective" />
              <div class="txt-pet">
                <div class="objective-text">
                  {{ pets[currentPetIndex].name }}
                  <div class="pet-breed">{{ pets[currentPetIndex]?.breed?.breed }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="../content/images/dislike.png" alt="Skip" class="like-btns" (click)="skipPet()" />
      <img src="../content/images/like.png" alt="Match" class="like-btns" (click)="match()" />
    </div>
  </div>
</div>
