<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contract-heading" data-cy="ContractCreateUpdateHeading" jhiTranslate="furryMatchApp.contract.home.createOrEditLabel">
        Create or edit a Contract
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.contract.tradeMoney" for="field_tradeMoney">Trade Money</label>
          <input
            type="text"
            class="form-control"
            name="tradeMoney"
            id="field_tradeMoney"
            data-cy="tradeMoney"
            formControlName="tradeMoney"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.contract.tradePups" for="field_tradePups">Trade Pups</label>
          <input type="text" class="form-control" name="tradePups" id="field_tradePups" data-cy="tradePups" formControlName="tradePups" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.contract.pedigree" for="field_pedigree">Pedigree</label>
          <input type="text" class="form-control" name="pedigree" id="field_pedigree" data-cy="pedigree" formControlName="pedigree" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.contract.otherNotes" for="field_otherNotes">Other Notes</label>
          <input
            type="text"
            class="form-control"
            name="otherNotes"
            id="field_otherNotes"
            data-cy="otherNotes"
            formControlName="otherNotes"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.contract.contractDate" for="field_contractDate">Contract Date</label>
          <div class="input-group">
            <input
              id="field_contractDate"
              data-cy="contractDate"
              type="text"
              class="form-control"
              name="contractDate"
              ngbDatepicker
              #contractDateDp="ngbDatepicker"
              formControlName="contractDate"
            />
            <button type="button" class="btn btn-secondary" (click)="contractDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
