<div class="cnt-princ">
  <h1 class="title">Mi perfil</h1>
  <div>
    <!--    <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">-->
    <!--      <strong>Registration saved!</strong> Please check your email for confirmation.-->
    <!--    </div>-->

    <!--    <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">-->
    <!--      <strong>Registration failed!</strong> Please try again later.-->
    <!--    </div>-->

    <!--    <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">-->
    <!--      <strong>Login name already registered!</strong> Please choose another one.-->
    <!--    </div>-->

    <!--    <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">-->
    <!--      <strong>Email is already in use!</strong> Please choose another one.-->
    <!--    </div>-->

    <!--    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">-->
    <!--      The password and its confirmation do not match!-->
    <!--    </div>-->
  </div>
  <div>
    <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
      <div class="profile-pic">
        <div class="profile-pic-div">
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastrá o seleccioná<br />una foto</ngx-dropzone-label>
            <ngx-dropzone-image-preview
              class="dropzoneImg"
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
        <button (click)="onUpload()" class="btn btn-blue">Subir</button>
      </div>
      <!--      <div>-->
      <!--        <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">-->
      <!--          <strong>Registration saved!</strong> Please check your email for confirmation.-->
      <!--        </div>-->

      <!--        <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">-->
      <!--          <strong>Registration failed!</strong> Please try again later.-->
      <!--        </div>-->

      <!--        <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">-->
      <!--          <strong>Login name already registered!</strong> Please choose another one.-->
      <!--        </div>-->

      <!--        <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">-->
      <!--          <strong>Email is already in use!</strong> Please choose another one.-->
      <!--        </div>-->

      <!--        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">-->
      <!--          The password and its confirmation do not match!-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="login-wrapper">
        <div class="wrapper-sec">
          <div class="cnt-inputs">
            <div class="cnt-pass">
              <div class="cnt-txt">
                <label>Nombre de usuario</label>
                <input type="text" class="form-control inp-txt" id="login" name="login" formControlName="login" data-cy="username" #login />
              </div>

              <!--              <div-->
              <!--                *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">-->
              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('login')?.errors?.required"-->
              <!--                  jhiTranslate="register.messages.validate.login.required"-->
              <!--                >-->
              <!--                  Your username is required.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('login')?.errors?.minlength"-->
              <!--                  jhiTranslate="register.messages.validate.login.minlength"-->
              <!--                >-->
              <!--                  Your username is required to be at least 1 character.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('login')?.errors?.maxlength"-->
              <!--                  jhiTranslate="register.messages.validate.login.maxlength"-->
              <!--                >-->
              <!--                  Your username cannot be longer than 50 characters.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('login')?.errors?.pattern"-->
              <!--                  jhiTranslate="register.messages.validate.login.pattern"-->
              <!--                >-->
              <!--                  Your username is invalid.-->
              <!--                </small>-->
              <!--              </div>-->
              <div class="cnt-inputs">
                <label>Correo electrónico</label>
                <input type="email" class="form-control inp-txt" id="email" name="email" formControlName="email" data-cy="email" />
              </div>

              <!--              <div-->
              <!--                *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">-->
              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('email')?.errors?.required"-->
              <!--                  jhiTranslate="global.messages.validate.email.required"-->
              <!--                >-->
              <!--                  Your email is required.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('email')?.errors?.invalid"-->
              <!--                  jhiTranslate="global.messages.validate.email.invalid"-->
              <!--                >-->
              <!--                  Your email is invalid.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('email')?.errors?.minlength"-->
              <!--                  jhiTranslate="global.messages.validate.email.minlength"-->
              <!--                >-->
              <!--                  Your email is required to be at least 5 characters.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('email')?.errors?.maxlength"-->
              <!--                  jhiTranslate="global.messages.validate.email.maxlength"-->
              <!--                >-->
              <!--                  Your email cannot be longer than 50 characters.-->
              <!--                </small>-->
              <!--              </div>-->
              <div class="cnt-inputs">
                <label>Contraseña</label>
                <input
                  type="password"
                  class="form-control inp-txt"
                  id="password"
                  name="password"
                  formControlName="password"
                  data-cy="firstPassword"
                />
              </div>

              <!--              <div-->
              <!--                *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"-->
              <!--              >-->
              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('password')?.errors?.required"-->
              <!--                  jhiTranslate="global.messages.validate.newpassword.required"-->
              <!--                >-->
              <!--                  Your password is required.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('password')?.errors?.minlength"-->
              <!--                  jhiTranslate="global.messages.validate.newpassword.minlength"-->
              <!--                >-->
              <!--                  Your password is required to be at least 4 characters.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('password')?.errors?.maxlength"-->
              <!--                  jhiTranslate="global.messages.validate.newpassword.maxlength"-->
              <!--                >-->
              <!--                  Your password cannot be longer than 50 characters.-->
              <!--                </small>-->
              <!--              </div>-->

              <!--              <jhi-password-strength-bar-->
              <!--                [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>-->
              <div class="cnt-inputs">
                <label class="lbl-txt">Confirmar contraseña</label>
                <input
                  type="password"
                  class="form-control inp-txt"
                  id="confirmPassword"
                  name="confirmPassword"
                  formControlName="confirmPassword"
                  data-cy="secondPassword"
                />
              </div>

              <!--              <div-->
              <!--                *ngIf="-->
              <!--                          registerForm.get('confirmPassword')!.invalid &&-->
              <!--                          (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)-->
              <!--                        "-->
              <!--              >-->
              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('confirmPassword')?.errors?.required"-->
              <!--                  jhiTranslate="global.messages.validate.confirmpassword.required"-->
              <!--                >-->
              <!--                  Your confirmation password is required.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"-->
              <!--                  jhiTranslate="global.messages.validate.confirmpassword.minlength"-->
              <!--                >-->
              <!--                  Your confirmation password is required to be at least 4 characters.-->
              <!--                </small>-->

              <!--                <small-->
              <!--                  class="form-text text-danger"-->
              <!--                  *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"-->
              <!--                  jhiTranslate="global.messages.validate.confirmpassword.maxlength"-->
              <!--                >-->
              <!--                  Your confirmation password cannot be longer than 50 characters.-->
              <!--                </small>-->
              <!--              </div>-->
            </div>
            <div class="grey-block">
              <div class="cnt-row1">
                <div class="cnt-inputs">
                  <label class="lbl-txt">Nombre</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="firstName"
                    id="field_firstName"
                    data-cy="firstName"
                    formControlName="firstName"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Segundo nombre</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="secondName"
                    id="field_secondName"
                    data-cy="secondName"
                    formControlName="secondName"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Primer apellido</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="firstLastName"
                    id="field_firstLastName"
                    data-cy="firstLastName"
                    formControlName="firstLastName"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Segundo apellido</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="secondLastName"
                    id="field_secondLastName"
                    data-cy="secondLastName"
                    formControlName="secondLastName"
                  />
                </div>
              </div>
              <div class="cnt-row2">
                <div class="cnt-inputs">
                  <label class="lbl-txt">Número de identificación</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="identityNumber"
                    id="field_identityNumber"
                    data-cy="identityNumber"
                    formControlName="identityNumber"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Número de teléfono</label>
                  <input
                    type="number"
                    class="form-control inp-txt"
                    name="phoneNumber"
                    id="field_phoneNumber"
                    data-cy="phoneNumber"
                    formControlName="phoneNumber"
                  />
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Dirección</label>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="address"
                    id="field_address"
                    data-cy="address"
                    formControlName="address"
                  />
                </div>
              </div>
              <div class="cnt-row3">
                <div class="cnt-inputs">
                  <label class="lbl-txt">Elegí una provincia</label>
                  <select class="form-control" id="province" name="province" formControlName="province" (change)="updateProvince($event)">
                    <option value="">Provincia</option>
                    <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
                  </select>
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Elegí un cantón</label>
                  <select select class="form-control" id="canton" name="canton" formControlName="canton" (change)="updateCanton($event)">
                    <option value="">Cantón</option>
                    <option *ngFor="let canton of cantones" [value]="canton.id">{{ canton.name }}</option>
                  </select>
                </div>

                <div class="cnt-inputs">
                  <label class="lbl-txt">Elegí un distrito</label>
                  <select class="form-control" id="district" name="district" formControlName="district">
                    <option value="">Distrito</option>
                    <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" [disabled]="registerForm.invalid" class="btn btn-blue" data-cy="submit">Register</button>
              <div class="cnt-ingresa">
                <p class="text-cuenta">¿Ya tenés una cuenta?</p>
                <a routerLink="/login" class="text-link">Ingresá aquí</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
