.title {
  font: var(--typo-header);
  color: var(--clr-orange);
  margin-top: var(--margin-md);
  padding: 0 35px;
}

.cnt-princ {
  text-align: center;
}

.login-wrapper {
  margin-top: var(--margin-md);
  display: flex;
  justify-content: center;
}

.wrapper-sec {
  display: flex;
  max-width: 50%;
  justify-content: space-around;
}

.cnt-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
  margin-bottom: var(--margin-small);
}

.cnt-pass {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--margin-md);
  margin-bottom: var(--margin-min);
}

.cnt-row1,
.cnt-row2,
.cnt-row3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--margin-small);
  margin-bottom: var(--margin-small);
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px 6px 20px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*border-radius: 0.25rem;*/
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-blue {
  margin-top: var(--margin-md-small);
  margin-bottom: var(--margin-min);
  padding: 8px 25px;
  background-color: var(--clr-blue);
  font: var(--typo-button);
  color: var(--clr-white);
  transition: background-color ease-in 300ms;
}

.btn-blue:hover:enabled {
  background-color: var(--clr-orange);
}

.profile-pic {
  margin-top: var(--margin-md-small);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-pic-div {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  border-radius: 25%;
  cursor: pointer;
}

#uploadBtn {
  color: var(--clr-grey);
  font: var(--typo-global);
}

input.ng-touched.ng-invalid {
  border-color: var(--clr-orange) !important;
}

.cnt-ingresa {
  margin-top: var(--margin-min);
  margin-bottom: var(--margin-md);
  margin-bottom: var(--margin-md);
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: var(--margin-min);
}

.text-link {
  color: var(--clr-orange);
  font: var(--typo-global-bold);
}

.text-cuenta {
  font: var(--typo-global);
}

.grey-block {
  background-color: rgba(128, 128, 128, 0.1);
  padding-top: var(--margin-md);
  padding-bottom: var(--margin-md);
  border-radius: 15px !important;
}

.delete-text {
  color: #3381f6;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.widthWarning {
  width: 295px !important;
  margin-top: -12px;
}

.objective-title {
  margin: 15px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #3381f6;
}

.objective-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.img-objective {
  width: 350px;
  height: 350px;
}

.cnt-txt-btn {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}
