/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
}
