<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="es" lang="es">
  <head>
    <title th:text="#{email.reset.title}">Restablecimiento de contraseña de FurryMatch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.reset.greeting(${user.login})}">Hola!</p>
    <p th:text="#{email.reset.text1}">
      ¿Solicitaste restablecer la contraseña para tu cuenta de FurryMatch? Si solicitaste este restablecimiento de contraseña, dirígete
      aquí:
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/confirm-password?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login link</a>
    </p>
    <p>
      <span th:text="#{email.reset.text2}">Gracias, </span>
      <br />
      <em th:text="#{email.signature}">El equipo de FurryMatch.</em>
    </p>
  </body>
</html>
