<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-chat-heading" data-cy="ChatCreateUpdateHeading" jhiTranslate="furryMatchApp.chat.home.createOrEditLabel">
        Create or edit a Chat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.chat.dateChat" for="field_dateChat">Date Chat</label>
          <div class="input-group">
            <input
              id="field_dateChat"
              data-cy="dateChat"
              type="text"
              class="form-control"
              name="dateChat"
              ngbDatepicker
              #dateChatDp="ngbDatepicker"
              formControlName="dateChat"
            />
            <button type="button" class="btn btn-secondary" (click)="dateChatDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.chat.message" for="field_message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.chat.stateChat" for="field_stateChat">State Chat</label>
          <input type="text" class="form-control" name="stateChat" id="field_stateChat" data-cy="stateChat" formControlName="stateChat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="furryMatchApp.chat.match" for="field_match">Match</label>
          <select class="form-control" id="field_match" data-cy="match" name="match" formControlName="match" [compareWith]="compareMatch">
            <option [ngValue]="null"></option>
            <option [ngValue]="matchOption" *ngFor="let matchOption of matchesSharedCollection">{{ matchOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
