<div class="cnt-princ">
  <h1 class="title">Mi perfil</h1>
  <div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="profile-pic">
          <div class="profile-pic-div">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>Arrastrá o seleccioná<br />una foto</ngx-dropzone-label>
              <ngx-dropzone-image-preview
                class="dropzoneImg"
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
              >
                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <!--            <input type="text" class="form-control inp-txt" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />-->
          </div>
          <button (click)="onUpload()" class="btn btn-blue">Subir</button>
        </div>

        <div class="login-wrapper">
          <div class="wrapper-sec">
            <div class="cnt-inputs">
              <div class="cnt-row1">
                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="firstName"
                    id="field_firstName"
                    data-cy="firstName"
                    formControlName="firstName"
                    placeholder="Nombre"
                  />
                </div>

                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="secondName"
                    id="field_secondName"
                    data-cy="secondName"
                    formControlName="secondName"
                    placeholder="Segundo nombre"
                  />
                </div>

                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="firstLastName"
                    id="field_firstLastName"
                    data-cy="firstLastName"
                    formControlName="firstLastName"
                    placeholder="Primer apellido"
                  />
                </div>

                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="secondLastName"
                    id="field_secondLastName"
                    data-cy="secondLastName"
                    formControlName="secondLastName"
                    placeholder="Segundo apellido"
                  />
                </div>
              </div>
              <div class="cnt-row2">
                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="identityNumber"
                    id="field_identityNumber"
                    data-cy="identityNumber"
                    formControlName="identityNumber"
                    placeholder="Número de identificación"
                  />
                </div>

                <div>
                  <input
                    type="number"
                    class="form-control inp-txt"
                    name="phoneNumber"
                    id="field_phoneNumber"
                    data-cy="phoneNumber"
                    formControlName="phoneNumber"
                    placeholder="Número de teléfono"
                  />
                </div>

                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="adress"
                    id="field_adress"
                    data-cy="adress"
                    formControlName="adress"
                    placeholder="Dirección"
                  />
                </div>
              </div>
              <div class="cnt-row3">
                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="province"
                    id="field_province"
                    data-cy="province"
                    formControlName="province"
                  />
                </div>

                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="canton"
                    id="field_canton"
                    data-cy="canton"
                    formControlName="canton"
                  />
                </div>

                <div>
                  <input
                    type="text"
                    class="form-control inp-txt"
                    name="district"
                    id="field_district"
                    data-cy="district"
                    formControlName="district"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-blue"
        >
          <span>Confirmar</span>
        </button>
        <div class="cnt-ingresa">
          <p class="text-cuenta">¿Ya tenés una cuenta?</p>
          <a routerLink="/login" class="text-link">Ingresá aquí</a>
        </div>
      </div>
    </form>
  </div>
</div>
