<div class="cnt-princ">
  <div class="cnt-sec">
    <div>
      <img src="../content/images/blue_logo.png" class="img-logo-blue" />
    </div>
    <h1 class="title">Generá una nueva contraseña</h1>
  </div>
</div>

<div class="card-body" *ngIf="!success">
  <span>Ingresá tu correo electrónico</span>
</div>

<div class="card-body" *ngIf="success">
  <span>Hemos enviado a tu correo electrónico las instrucciones para cambiar tu contraseña</span>
</div>
<div class="login-wrapper" style="margin-top: 25px">
  <div>
    <div class="card-body">
      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="cnt-inputs">
          <label class="username-label" for="email"></label>
          <input
            type="email"
            class="form-control inp-txt"
            id="email"
            name="email"
            placeholder=""
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            class="card-body"
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small class="text text-error alert-txt" *ngIf="resetRequestForm.get('email')?.errors?.required">
              El correo es obligatorio
            </small>

            <small class="text text-error alert-txt" *ngIf="resetRequestForm.get('email')?.errors?.email"> El correo es inválido </small>
          </div>
        </div>

        <button type="submit" class="btn-blue btn" [disabled]="resetRequestForm.invalid" data-cy="submit">Cambiar contraseña</button>
      </form>
    </div>
  </div>
</div>

<div class="cnt-ingresa">
  <p class="text-cuenta">¿No tenés una cuenta?</p>
  <a routerLink="/account/register" class="text-link">Creá una cuenta aquí</a>
</div>
